*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.header{
    background-color: blue; 
    height: 100px; 
    position: relative; 
    width: 100%;
    top: 0; 
    left: 0; 
}
.nav{
    display: flex; 
    justify-content: space-between; 
    max-width: 1500px; 
    margin: 0 auto; 
    background-color: brown; 
}
.logo{
    font-size: 30px; 
    font-weight: bold; 
    padding: 0 40px; 
    line-height: 80px;
}
.nav-link{
    color: white;     text-decoration: none; 
}
.nav-menu{
    display: flex; 
    margin-right: 40px; 
    list-style: none; 
}
.nav-menu-item{
    font-size: 18px; 
    margin: 0 10px; 
    line-height: 80px;
    text-transform: uppercase; 
    width: max-content; 
}
.nav-menu-link:hover{
    color: rgba(226, 43, 169);
}
.seccion-con-imagen {
    position: relative; 
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}
.datos-intereses{
    background-color: blue; 
    margin-top: 20px; 
    display: flex; 
}
.datos{
    margin-top: 20px; 
    margin-bottom: 20px; 
    color: white; 
    margin-left: 40px; 
}
.datos img{
    border-radius: 30px; 
    width: 200px; 
    height: 150px;
}
#enlaces {
    background-color: lightgray; 
    padding: 20px; 
}
#enlaces h2 {
    font-size: 24px; 
    margin-bottom: 10px; 
}
.enlaces-contenedor {
    display: flex; 
    flex-direction: column; 
}
.enlace {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    width: 200px; 
    height: 50px; 
    margin-bottom: 10px; 
    background-color: white; 
    border: 1px solid black; 
    padding: 10px; 
}
.enlace a {
    text-decoration: none; 
    color: black; 
    text-align: left; 
    width: 100%;
    display: inline-block; 
}
#Proyectos {
    background-color: blue;
    color: white; 
    padding: 20px; 
}
.proyecto-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
.imagen-proyecto1 {
    width: 50%;
    padding: 20px; 
}
.imagen-proyecto1 img {
    border-radius: 20px;
    max-width: 100%;
.texto-proyecto1 {
    width: 50%; 
    padding: 20px; 
}
.iconos-proyecto {
    display: flex; 
    justify-content: start; 
    gap: 10px; 
}
.icono {
    width: 100px; 
    height: auto; 
    transition: transform 0.3s ease;
}
.icono:hover {
    transform: scale(1.1); 
}
.imagenes-adicionaes {
    display: flex; 
    justify-content: start; 
    gap: 10px; 
}
.imagen-adicional {
    width: 100px; 
    height: auto; 
    display: block;
}
.proyecto-container,
.proyecto-container2 {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
.imagen-proyecto1,
.texto-proyecto1 {
    width: 50%; 
    padding: 20px; 
}
.imagen-proyecto1 img,
.texto-proyecto1 img {
    border-radius: 20px; 
    max-width: 100%; 
}
.imagen-proyecto1 img {
    width: 500px; 
    height:auto;
    border-radius: 20px; 
    max-width: 100%; 
}